*{
    margin: 0 auto;
}
body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header h1{
    text-align: center;
    margin-top: 5%;
    margin-bottom: 50px;
}

.tables h2{
    text-align: center;
}

.tables table{          
    border: 5px solid black;    
    background-color: #fff5f6;
    box-shadow: 10px 10px black;
    margin: 50px auto;
    width: 40%;
    border-collapse: collapse;
}

.tables tr, td{
    border: 2px solid black;
}

.tables th{
    border: 2px solid black;
    background-color: black;
    color: white;
    padding: 5px;
    font-size: 1.2rem;    
    }

.tables td{
    padding: 10px;    
}

.tables .elements td:nth-child(3) code{
    background-color: rgb(231, 204, 169);
    font-size: 1.3em;
    text-align: center;
    font-weight: bold;    
}

